page-home {

   
       .signup{
            background: #f1a87e;
           border-bottom: 2px solid #ff48c2;
       }
       .contactus {
           background: #ddda06;
           border-bottom: 2px solid #7ef184;
       }
             

}
